@{
}
<body>
    <div id="Container" >
        <h1 class="text-decoration-underline">About</h1>
        <div>
            <h1 class="text-decoration-underline">About: Application</h1>
            <h3>MuniciPAL</h3>
            <p>MuniciPAL is a dynamic application, with responsive features, that enables anonymous users to submit any issues they might encounter in their municipality of residency. Users can track track their service</p>


            <h1 class="text-decoration-underline">About: Developer</h1>
            <h3>Liyema Manqoyi</h3>
            <p>IIE Varsity College (NMB) | Bsc. Comp Science in Application Development  </p>
            <h6>2024 November 18</h6>
        </div>
    </div>
</body>
