@{

}
<div class="d-flex flex-column align-items-center">
    <h1>Local Events & Announcements</h1>
    <!-- basic search form structure with submit button | dont forget to sanitize user input -->
    <form id="searchForm">
        <div class="form-element">
            <img src="~/Imgs/Search-PNG.png" class="img-fluid" width="60" alt="search icon" />
        </div>
        <div class="form-element">
            <input id="inpSearch" type="text" placeholder="Search for Local Events and Announcements" />
        </div>
        <div class="form-element">
            <button id="btnSearch" type="submit">Search</button>
        </div>
    </form>



    <div id="eventCard">
        
        <div id="eventCardContent">

        </div>

    </div>
    
    
    <div id="announcementCard">
        <img src="~/Imgs/megaphone.png" class="img-fluid" width="100" alt="megaphone for announcements image"/>
        <div id="announcementCardContent">

        </div>

    </div>




    <!-- return home button -->
    <span class="d-flex justify-content-center">
        <a href="@Url.Action("Index", "Home")" class="mybtnNews">Return Home</a>
    </span>

</div>

<script>
    //basic functionality of search form above
    document.getElementById('searchForm').addEventListener('submit', function (e) 
    {
        e.preventDefault(); 
        const searchedTerm = document.getElementById('inpSearch').value;
        console.log('Searching For: ', searchedTerm);
    }

</script>


