@{
    ViewData["Title"] = "Home Page";
}
<header>
    <div class=" text-center align-left">
         <h1>Welcome to your Munici-PAL</h1>
    </div>
</header>
<body>
    <div class="container align-items-center">
        <div class=" text-center align-middle">
            <img src="Imgs/municiPAL.jpg" alt="MuniciPAL Logo" height="350" />
            <p>Here you can report issues, find more and new information, and request your service status </p>
        </div>

        <div class="btn-group d-flex justify-content-center">
            <a href="@Url.Action("ReportIssues", "Home")" class="mybtnReport">Report Issues</a>
            <a href="@Url.Action("Announcements", "Home")" class="mybtnNews">Announcements</a>
            <a href="@Url.Action("ServiceRequestStatus", "Home")" class="mybtnRequest">Service Request Status</a>
        </div>
    </div>
</body>



