@{
}
<div class=" d-flex flex-column justify-content-center align-items-center">
    <h1>Report Issues</h1>
    <br />
    <br />

    <label for="inpLocation">Enter the Location of Issue</label>
    <input id="inpLocation" type="text" placeholder="1 Mercantile Bank Plaza, Ring Road Port Elizabeth 6045" name="inpLocation" value="" />
    <br />

    <label for="inpCategory">Select the Category of Issue</label>
    <select id="selCategory">
        <optgroup label="- - Road - -"></optgroup>
            <option value="CheapConstruction">Pot Holes</option>
        <option value="RoadConstruction">Road Construction</option>
            <option value="IcyRoads">Icy Roads</option>
            <option value="Fog">Fog</option>
            <option value="FloodedRoads">Flooded Roads</option>
        <optgroup label="- - Road Signs - -"></optgroup>
            <option value="DelayedRobots">Delayed Robots</option>
            <option value="HumanError">Incorrect Information on Distance to Destination</option>
            <option value="Theft">Report Missing Goods</option>
        <optgroup label="- - Water - -"></optgroup>
            <option value="BurstPipe">Burst Pipe</option>
            <option value="Theft">Report Missing Goods</option>
        <optgroup label="- - Sanitation - -"></optgroup>
            <option value="BadWater">Unsafe Drinking Water</option>
            <option value="BurstSewer">BurstSeweragePipes</option>



    </select>
    <br />

    <label for=" tarDescrition">Enter the Description of Issue</label>
    <textarea id="tarDescription" rows="5" cols="60" name="inpDescription"></textarea>
    <br />

    <label for=" inpAttachmentn">Attach ALL Supporting Documents (.pdf; .docx; .xlsx; .mp4; .mp3; etc)</label>
    <input id="inpAttachments" type="file" name="inpAttachments" value="" />
 
</div>
<br />
<br />
<br />
<div class="d-flex justify-content-evenly">
    <span>
        <a href="@Url.Action("Index", "Home")" class="mybtnReport">Return Home</a>
    </span>
    <span>
        <a class="mybtnReport">Submit</a>
    </span>
</div>

