@{
}
<div class="container align-items-center" >
    <div>
        <h1>Report Issues</h1>
    </div>
    <div>
        <input class="form-text" type="text" name="location" value="" />
    </div>
</div>