@{

}
<div class="d-flex justify-content-center">
    <img src="Imgs/deadmuniciPAL.png" alt="deadmuniciPAL Logo" height="350" />
</div>
<span class="d-flex justify-content-center">
    <label> This Feature Is Coming Soon</label>
</span>

<span class="d-flex justify-content-center">
    <a href="@Url.Action("Index", "Home")" class="mybtnRequest">Return Home</a>
</span>
