html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mybtnReport {
    background-color: #ffd800;
    color: black;
    padding: 14px 25px;
    margin: 8px 0 0 5px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
}

.mybtnRequest {
    background-color: #51ba12;
    color: black;
    padding: 14px 25px;
    margin: 8px 0 0 5px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
}

.mybtnNews {
    background-color: #e1bc8e;
    color: black;
    padding: 14px 25px;
    margin: 8px 5px 0 5px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
}